# Local timings of different solvers
*Timings_comparison.xlsx

# Intellij ide files and folders
*.idea/

# NVIM ide files and folders
*.classpath
*.project
*.settings/

# Gradle project-specific cache directory
*.gradle

# Gradle build output directory
*build

# Gradle wrappers
*gradlew*
*gradle/

