html, body {
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	margin: 0px;
	padding: 0px;
	font-size: 2.5vw
}
body {
	background: linear-gradient(180deg, hsl(186, 100%, 70%), hsl(211, 100%, 55%));
}
header {
	border-bottom: 2px solid;
}
h1 {
	font-size: 1rem;
	text-align: center;
	margin: 0px;
	padding: 0.5em;
}
h2 {
	font-size: 0.8rem;
	text-align: center;
	margin: 0px;
	padding: 0.6em;
}
p {
	font-size: 0.6rem;
	text-align: left;
	text-indent: 2em;
	margin: 0px;
	padding: 0.6em;
	padding-top: 0;
}
main {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding-bottom: 4vw;
}
.side-content-wrapper {
	display: flex;
	flex-direction: column;
	width: 35%;
	margin: 10px 0px;
}
.control-description {
	border: 1px solid;
	border-radius: 20px;
	background-color: hsla(0, 0%, 90%, 0.7);
	width: 100%;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 2px 6px 6px rgba(0,0,0,0.23);
}
.back-clear {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 15px;
}
.button {
	border: 1px solid;
	border-width: 1px;
	border-radius: 20px;
	padding: 0.3rem;
	box-shadow: 2px 6px 6px rgba(0,0,0,0.23);
	background-color: hsla(0, 0%, 90%, 0.7);
	color: black;
	width: fit-content;
	font-size: 0.75rem;
}
.main-content-wrapper {
	width: 45%;
	margin: 10px 0px;
}
.main-content {
	width: fit-content;
	height: fit-content;
	margin: 0 auto 0 auto;
}
.chip-dropper {
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 5vw;
}
.drop-option {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(redChip.svg);
	background-position: center;
	background-size: 100% 100%;
	width: 5vw;
	height: 5vw;
	font-size: 0.75rem;
}
.game-square {
	border: 1px solid;
	margin: 0px auto 0px auto;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.19), 2px 6px 6px rgba(0,0,0,0.23);
}
.game-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
}
.grid-cell {
	width: 5vw;
	height: 5vw;
	background-image: url(gridFrame.svg);
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.cell{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: -1;
	background-image: none;
}
.position-evaluation {
	text-align: center;
	font-size: 0.75rem;
	margin-top: 15px;
}
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-top: 2px solid;
	border-width: 2px;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 4vw;	
}
.self-plug {
	margin: auto;
	width: 30%;
	padding: 0px;
	text-align: center;
	font-size: 0.6rem;
	color: black;
}

/* These apply when the resolution is closer to 'portrait' */
@media (max-aspect-ratio: 4/3) {
	html, body {
		font-size: 3vw;
	}
	main {
		flex-direction: column-reverse;
	}
	.side-content-wrapper {
		flex-direction: column-reverse;
		width: 75%;
	}
	.main-content-wrapper {
		width: fit-content;
		margin-bottom: 0;
	}
	.chip-dropper {
		height: 9vw;
	}
	.drop-option {
		width: 9vw;
		height: 9vw;
		font-size: 1rem;
	}
	.grid-cell {
		width: 9vw;
		height: 9vw;
	}
	h2 {
		font-size: 1rem;
	}
	p {
		font-size: 0.8rem;
	}
	.button {
		font-size: 1rem;
	}
	.position-evaluation {
		font-size: 1rem;
	}
}

